@keyframes moveout {
    0% {
        right: -50%
    }
    100% {
        right: 0%
    }
}

@keyframes movein {
    0% {
        right: 0%
    }
    100% {
        right: -50%
    }
}

.cardcontent {
    color: white;
    text-align: center;
}

#card-image {
    transform: translateX(60%);
}

.button {
    height: 40px;
    width: 250px;
    border-radius: 10px;
    margin: 10px;
    background-image: linear-gradient(to bottom, rgb(0, 0, 116),rgb(187, 0, 255));
}

text {
    font-family: monospace;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

#backbutton {
    top: 0%;
    left: 0%;
    height: 30px;
    width: 100px;
    margin: 5px;
    position: absolute;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgb(0, 0, 116),rgb(187, 0, 255));
}
#info-card {
    right: -50%;
    height: 100vh;
    width: 500px;
    position: absolute;
    background-color: black;
}

